*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

body{
  color: #33475b;
  font-family: inherit;
}

.container {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;

}

.grey{
  height: 70px;
  background-color: #f5f8fa;
  border-bottom: 1px solid #cbd6e2;
}

.container-fullwidghtgrey{
  display: fixed;
}

div i{
  font-size: 130%;
  margin-top: 21px;
  margin-right: 21px;
}

.english{
  font-size: 80%;
  display: inline-block;
  margin-left: -18px;
  padding: 0 1rem;
  border-right: 2px solid #cbd6e2;
}

.contactus{
  font-size: 80%;
  display: inline-block;
  margin-left: -10px;
  padding: 0 1rem;
}

.spazio2{
  display: inline-block;
  margin-left: 450px;
}

#login{

font-size: 0.75rem;
font-weight: 500;
padding: 0.563rem 1rem;
border: solid 1px #ff7a59;
border-radius: 3px;
background-color: white;
}

#gethubspot{
font-size: 0.75rem;
font-weight: 500;
padding: 0.563rem 1rem;
border: solid 1px #ff7a59;
border-radius: 3px;
background-color: #ff7a59;
color: white;
margin: 5px;
}

.lightgrey{
  height: 70px;
  position: relative;
  background-color: #fff;
  z-index: 90;
  border-bottom: 0.1px solid #cbd6e2;
}

nav{
  display: inline-block;
}

.logo{
margin-top: 15px;
}

.spazio{
  margin-left: 310px;
  font: inherit;
}

ul li{
  display:inline-block;
  padding:6px;
}

.orange{
  height: 400px;
  background-color: rgb(255, 242, 237);
  border-bottom: 1.5px solid darkblue;
}

.text{
  width: 40%;
  padding-top:50px;
}

h1{
  text-align: left;
  font-size: 2.6rem;
  line-height: 1.1818;
}

.subtitle{
  margin-top: 30px;
  font-size: 90%;
  font-family:inherit;
}

#free{
  background-color: #ff8f73;
  font-size: 1rem;
  padding: 1.3rem 2.0rem;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  line-height: 1.25;
  border: 0;
  border-radius: .18rem;
  color: white;
  margin-top: 20px;
}

.text-end{
  margin-top: 20px;
  font-size:70%;
}

.bianco1{
  height: 1600px;
  background-color: #f5f8fa;
}

.fotocentrale{
  max-width: 260px;
  vertical-align: middle;
  margin-top: 10%;
  margin-left:50%;
  transform: translateX(-50%);
}

.titolo2{
text-align: center;
font-size: 2rem;
font-weight: 700;
line-height: 1.3125;
}

.sottotitolo2{
  font-size: 1em;
  margin-top: 1em;
  font-family: inherit;
  max-width: 70%;
  margin-left: 14%;
  text-align: center;
}

.box1{
  margin-top: 50px;
  height: 23%;
  backface-visibility: hidden;
    cursor: pointer;
    background: #fff;
    margin-bottom: 2em;
    border-radius: 4px;
    position: relative;
    display: flex;
    box-shadow: 0 0 11px #eaf0f6;
}

.section1{
  width: 30%;
}

.fotobox1{
  width: 70%;
  margin-left: 15%;
  margin-top:15%;
  height: 150px;
}

#crm{
  font-size: 0.875rem;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  color: #fff;
  background-color: #ff7a59;
  cursor: pointer;
  display: inline-block;
  line-height: 1.25;
  border: 0;
  border-radius: .1875rem;
  font-family: inherit;
  margin-left: 22%;
  margin-top: 20%;
}

.section2{
  width: 70%;
  float: left;
  margin-left: 5%;
}

.titlesection2{
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 3.4rem;
  margin-top: 12%;
}

.sottotitolo4{
  text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 2em;
    font-size: 13px;
}

.sottotitolo4 span{
  width: 35%;
  float: left;
  display: block;
}

.sottotitolo4::after{
  content:"";
  width: 50%;
  height: 1px;
  background-color: lightgrey;
  display: block;
  float:left;
  margin-top: 10px;

}

.section2 li{
  font-size: 13px;
}

ul i{
  color: #ff7a59;
}

.card{
  width: 33.33%;
  height: 40%;
  padding: 4em;
  box-shadow: 0 0 11px #eaf0f6;
  float: left;
  background-color: white;
  border-radius: 4px;
}

.card{

}

.fotocard{
  width: 100%;
  height: 150px;
}

.cardtext{
  text-align: center;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.3636;
  display: block;
  margin-top: 7%;
}

.cardp{
  margin-top: 1em;
    margin-bottom: 1em;
    font-size: 14px;

}

.cardHr{
  width: 100%;
  text-align: center;
  color: lightgrey;
}

.features{
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 2em;
  font-size: 13px;
  text-align: center;
}
.x{
  font-size: 80%;
  margin-top: -20px;
}

.blue{
  height: 1000px;
  background-image:linear-gradient(45deg, #00a4bd, #00bda5);
}

.titolo2h{
  color: white;
  text-align: center;
  max-width: 650px;
  padding-top: 40px;
  margin: 0 auto;
}

.parte2 {
  color:white;
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
}



.quadrato1{
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  float: left;
  width: 25%;
  height:150px;
  text-align: center;
  margin-top: 5%;
}

.quadrato2{
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  float: left;
  width: 25%;
  height:150px;
  text-align: center;
  margin-top: 5%;
}

.quadrato3{
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  float: left;
  width: 25%;
  height:150px;
  text-align: center;
  margin-top: 5%;
}

.quadrato4{
  border-bottom: 1px solid white;
  float: left;
  width: 25%;
  height:150px;
  text-align: center;
  margin-top: 5%;

}

.quadrato5{
  border-right: 1px solid white;
  width: 25%;
  height:150px;
  float: left;
  text-align: center;
}

.quadrato6{
  border-right: 1px solid white;
  width: 25%;
  height:150px;
  float: left;
  text-align: center;
}

.quadrato7{
  border-right: 1px solid white;
  width: 25%;
  height:150px;
  float: left;
  text-align: center;
}

.quadrato8{
  width: 25%;
  height:150px;
  float: left;
  text-align: center;
}

.immagini{
  margin-top: 10%;
  color: white;
}
